.event {
  align-items: left;
  height: 200px;
  width: 343px;
  border: 2px solid #333;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
  justify-content: space-between;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
