@import "src/styles/breakpoint";
@import "src/styles/color";

.list {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  list-style-type: none;
}

.sport {
  font-weight: bold;
}

.event {
  width: 343px;
  height: 200px;
  padding-top: 5px;
  padding-left: 10px;
  border: 2px solid $black;
  border-radius: 10px;
  cursor: pointer;

  @media (min-width: $md) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
