.event {
  align-items: left;
  height: 200px;
  width: 343px;
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
