@import "src/styles/color";

.header {
  display: flex;
  width: 100%;
  height: 75px;
  padding: 20px;
  align-items: center;
  font-size: 30px;
  background-image: linear-gradient(to right, $dark-teal, $light-teal);
}

.buttonGroup {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.button {
  cursor: pointer;
}
