@import "src/styles/color";

.header {
  display: flex;
  width: 100%;
  height: 75px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
  background-image: linear-gradient(to right, $dark-teal, $light-teal);
}
